.site-footer {
  background-color: $color-gallery;
  height: 400px;
  padding-top: 30px;

 a:link {
      text-decoration: none;
      color: black;
    }

    /* visited link */
    a:visited {
      text-decoration: none;
      color: black;
    }

    /* mouse over link */
    a:hover {
      text-decoration: none;
      color: black;
    }

    /* selected link */
    a:active {
      text-decoration: none;
      color: black;
    }



  h3 {
    margin-bottom: 26px;
  }

  .left-footer {
    display: inline-block;
    vertical-align: top;

    width: 61%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 16%;
        font-weight: 800;
      }
    }

    .charity-address {
      line-height: 1.3;
      font-style: normal;
    }

    .sar {
      line-height: 1.3;
      font-style: normal;
      margin: 0;
    }

    p {
      line-height: 1.3
    }
  }

  .right-footer {
    display: inline-block;
    vertical-align: top;
    width: 38.5%;

    hr.vertical
    {
      display: inline-block;
      width: 2px;
      height: 225px;
      color: $color-fuel-yellow;
    }

    .donation-radios {
      vertical-align: top;
      display: inline-block;
      margin-left: 17%;

      .donate {
          margin-bottom: 26px;
      }

      p {
        line-height: 1.3;
        font-style: normal;
        margin: 0;
        margin-bottom: 10px;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        span {
          position:relative;
        }

        input[type='number']{
          text-align:left;
          margin-top: 5px;
          width: 150px;
        }

        input[type='radio']:last-child{
          margin-top: 3px;
        }

        input[type='submit']{
          margin: 10px 0 0 16px;
          border-radius: 3px;
          color: #ffffff;
          font-size: 18px;
          background: $color-fuel-yellow;
          padding: 10px 20px 10px 20px;
          text-decoration: none;
          box-shadow: none;
          text-shadow: none;
          margin-left: -1px;

          &:hover {
            transition: 0.4s;
            background: lighten($color-fuel-yellow, 15%);
            text-decoration: none;
          }


        }
      }
    }

  }
}

