.site-header {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-self: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;

  .site-logo {
    flex: 0 1 26%;

    img {
      width: 220px;
    }

    .main-navigation {
      flex: 0 1 80%;
    }
  }
}

.menu-toggle {
  display: none;
}

