.site-content {
  display: flex;
  .widget-area {
    flex: 1 1 30%;
    background-color: $color-fuel-yellow;
    padding-left: 1rem;
    margin-left: 2rem;
    height: 700px;
    border-radius: 20px 0px 20px 0px;

    ul {
      list-style: none;
      margin: 0;
      padding-left: 0;
    }

    a {
      text-decoration: 1pt dotted $color-gallery;

      &:link {
        color: $color-gallery;
        text-decoration: none;
      }

      /* visited link */
      &:visited {
        color: $color-gallery;
        text-decoration: none;
      }

      /* mouse over link */
      &:hover {
        color: $color-gallery;
        text-decoration: none;
      }

      /* selected link */
      &:active {
        color: $color-gallery;
        text-decoration: none;
      }

      .cat-posts-widget {
        .category-posts-internal {
          margin: 0;
          list-style: none;

        }
      }
    }
  }
}
