/*!
Theme Name: sar
Theme URI: https://www.sunriseafricarelief.com
Author: Donald MacAlpine
Author URI: https://www.donaldm.co.uk
Description: An original theme for Sunrise Africa Relief built on top of underscores framework, built Jan 2017.
Version: 0.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sar
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

sar is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}.site-main .comment-navigation,.site-main .post-navigation,.site-main button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}body,button,input,select,textarea{color:#3f3f3f;font-family:"PT Sans","Helivetica Neue",Helvetica,Arial,sans-serif;font-size:18px;font-size:1.125rem;line-height:1.75em}.hero-text{color:#fff;line-height:1.43em}h1,h2,h3,h4,h5,h6{font-family:PT-Serif,sans-serif;font-weight:700;clear:both}h1{font-size:1.625em}h2{font-size:1.3em}p{margin-bottom:1.5em}cite,dfn,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:16.875px;font-size:1.05469rem;line-height:1.6;margin-bottom:1.6em;max-width:100%;overflow:auto;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:16.875px;font-size:1.05469rem}abbr,acronym{border-bottom:1px dotted #666;cursor:help}ins,mark{background:#fff9c0;text-decoration:none}big{font-size:125%}html{box-sizing:border-box}*,:after,:before{box-sizing:inherit}body{background:#fff}blockquote,q{quotes:"" ""}blockquote:after,blockquote:before,q:after,q:before{content:""}hr{background-color:#ccc;border:0;height:1px;margin-bottom:1.5em}ol,ul{margin:0 0 1.5em 3em}ul{list-style:disc}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}img{height:auto;max-width:100%}figure{margin:1em 0}table{margin:0 0 1.5em;width:100%}button,input[type=button],input[type=reset],input[type=submit]{border:1px solid;border-color:#ccc #ccc #bbb;border-radius:3px;background:#e6e6e6;box-shadow:inset 0 1px 0 rgba(255,255,255,.5),inset 0 15px 17px rgba(255,255,255,.5),inset 0 -5px 12px rgba(0,0,0,.05);color:rgba(0,0,0,.8);font-size:13.5px;font-size:.84375rem;line-height:1;padding:.6em 1em .4em;text-shadow:0 1px 0 rgba(255,255,255,.8)}button:hover,input[type=button]:hover,input[type=reset]:hover,input[type=submit]:hover{border-color:#ccc #bbb #aaa;box-shadow:inset 0 1px 0 rgba(255,255,255,.8),inset 0 15px 17px rgba(255,255,255,.8),inset 0 -5px 12px rgba(0,0,0,.02)}button:active,button:focus,input[type=button]:active,input[type=button]:focus,input[type=reset]:active,input[type=reset]:focus,input[type=submit]:active,input[type=submit]:focus{border-color:#aaa #bbb #bbb;box-shadow:inset 0 -1px 0 rgba(255,255,255,.5),inset 0 2px 5px rgba(0,0,0,.15)}input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=range],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],textarea{color:#666;border:1px solid #ccc;border-radius:3px;padding:3px}input[type=color]:focus,input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=range]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}textarea{width:100%}.white-link{border-bottom:1pt dotted #fff}.white-link:link{color:#fff;text-decoration:none}.white-link:visited{color:#fff;text-decoration:none}.white-link:hover{color:#fff;text-decoration:none}.white-link:active{color:#fff;text-decoration:none}.orange-link{border-bottom:1pt dotted #e84f0c}.orange-link:link{color:#e84f0c;text-decoration:none}.orange-link:visited{color:#e84f0c;text-decoration:none}.orange-link:hover{color:#e84f0c;text-decoration:none}.orange-link:active{color:#e84f0c;text-decoration:none}.main-navigation{-ms-flex:0 1 73%;flex:0 1 73%;-ms-flex-item-align:end;align-self:flex-end;margin-bottom:36px}.main-navigation .menu-main_menu-container{width:100%;height:100%}.main-navigation .menu-main_menu-container ul{list-style:none;-ms-flex-pack:justify;justify-content:space-between;margin:0;padding:0;display:-ms-flexbox;display:flex}.main-navigation .menu-main_menu-container ul li{-ms-flex-pack:justify;justify-content:space-between}.main-navigation .menu-main_menu-container ul li a{font-weight:700;text-transform:uppercase;text-decoration:none;color:#3f3f3f}.main-navigation .menu-main_menu-container ul li a.focus,.main-navigation .menu-main_menu-container ul li a:hover{padding-bottom:5px;border-bottom:3pt solid #f0a32f;transition:.2s}.main-navigation.toggled ul,.menu-toggle{display:block}@media screen and (min-width:37.5em){.menu-toggle{display:none}.main-navigation ul{display:block}}.site-main .comment-navigation,.site-main .post-navigation,.site-main .posts-navigation{margin:0 0 1.5em;overflow:hidden}.comment-navigation .nav-previous,.post-navigation .nav-previous,.posts-navigation .nav-previous{float:left;width:50%}.comment-navigation .nav-next,.post-navigation .nav-next,.posts-navigation .nav-next{float:right;text-align:right;width:50%}.menu-bar{height:60px;background-color:#ececec;display:-ms-flexbox;display:flex;-ms-flex-item-align:end;align-self:flex-end;-ms-flex:0 1 100%;flex:0 1 100%;margin-top:10px;margin-bottom:20px}.menu-bar .search-box{-ms-flex:0 1 100%;flex:0 1 100%;float:right;-ms-flex-pack:end;justify-content:flex-end}.menu-bar .search-box input[type=search]{cursor:pointer;background:#ececec url(assets/images/search-icon.png) no-repeat 9px center;padding:9px 10px 9px 32px;width:40px;transition:all .5s ease;margin-left:1rem;-ms-flex:0 1 2%;flex:0 1 2%;height:100%;border:none;display:none}.menu-bar .search-box input[type=search]:focus{background-color:#fff;width:350px}.menu-bar .search-box input[type=submit]{display:none}.menu-bar .search-box .find-us{float:right;line-height:60px;margin:0;margin-right:1rem;padding:0;color:#0082e6}.menu-bar .search-box .icon{-ms-flex:0 1 5%;flex:0 1 5%;float:right;-ms-flex-align:center;align-items:center;line-height:60px;margin-left:1rem;font-size:1.6rem;cursor:pointer}.menu-bar .search-box .icon:nth-child(n+2){margin-right:1rem}.menu-bar .search-box .fa-facebook:hover{color:#3b5998}.menu-bar .search-box .fa-twitter:hover{color:#4099ff}.menu-bar .search-box .fa-envelope-o:hover{color:#d50f25}.menu-bar .search-box .fa-instagram:hover{color:#8a3ab9}.menu-bar a:link{text-decoration:none;color:#3f3f3f}.menu-bar a:visited{text-decoration:none;color:#3f3f3f}.menu-bar a:hover{text-decoration:none;color:#3f3f3f}.menu-bar a:active{text-decoration:none;color:#3f3f3f}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:15.75px;font-size:.98438rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}#content[tabindex="-1"]:focus{outline:0}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:"";display:table;table-layout:fixed}.clear:after,.comment-content:after,.entry-content:after,.site-content:after,.site-footer:after,.site-header:after{clear:both}.widget{margin:0 0 1.5em}.widget select{max-width:100%}.container,.site-content{max-width:1130px;margin-left:auto;margin-right:auto}.sticky{display:block}.hentry{margin:0 0 1.5em}.byline,.updated:not(.published){display:none}.group-blog .byline,.single .byline{display:inline}.entry-content,.entry-summary,.page-content{margin:1.5em 0 0}.page-links{clear:both;margin:0 0 1.5em}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}embed,iframe,object{max-width:100%}.wp-caption{margin-bottom:1.5em;max-width:100%}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.wp-caption-text{text-align:center}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;text-align:center;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}.site-header{display:-ms-flexbox;display:flex;display:-webkit-flex;-ms-flex-direction:row;flex-direction:row;-ms-flex-item-align:auto;align-self:auto;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:justify;justify-content:space-between;margin-top:30px}.site-header .site-logo{-ms-flex:0 1 26%;flex:0 1 26%}.site-header .site-logo img{width:220px}.site-header .site-logo .main-navigation{-ms-flex:0 1 80%;flex:0 1 80%}.menu-toggle{display:none}.site-footer{background-color:#ececec;height:400px;padding-top:30px}.site-footer a:link{text-decoration:none;color:#000}.site-footer a:visited{text-decoration:none;color:#000}.site-footer a:hover{text-decoration:none;color:#000}.site-footer a:active{text-decoration:none;color:#000}.site-footer h3{margin-bottom:26px}.site-footer .left-footer{display:inline-block;vertical-align:top;width:61%}.site-footer .left-footer ul{list-style-type:none;margin:0;padding:0}.site-footer .left-footer ul li{display:inline-block;margin-right:16%;font-weight:800}.site-footer .left-footer .charity-address{line-height:1.3;font-style:normal}.site-footer .left-footer .sar{line-height:1.3;font-style:normal;margin:0}.site-footer .left-footer p{line-height:1.3}.site-footer .right-footer{display:inline-block;vertical-align:top;width:38.5%}.site-footer .right-footer hr.vertical{display:inline-block;width:2px;height:225px;color:#f0a32f}.site-footer .right-footer .donation-radios{vertical-align:top;display:inline-block;margin-left:17%}.site-footer .right-footer .donation-radios .donate{margin-bottom:26px}.site-footer .right-footer .donation-radios p{line-height:1.3;font-style:normal;margin:0;margin-bottom:10px}.site-footer .right-footer .donation-radios ul{list-style:none;padding:0;margin:0}.site-footer .right-footer .donation-radios ul span{position:relative}.site-footer .right-footer .donation-radios ul input[type=number]{text-align:left;margin-top:5px;width:150px}.site-footer .right-footer .donation-radios ul input[type=radio]:last-child{margin-top:3px}.site-footer .right-footer .donation-radios ul input[type=submit]{margin:10px 0 0 16px;border-radius:3px;color:#fff;font-size:18px;background:#f0a32f;padding:10px 20px 10px 20px;text-decoration:none;box-shadow:none;text-shadow:none;margin-left:-1px}.site-footer .right-footer .donation-radios ul input[type=submit]:hover{transition:.4s;background:#f5c376;text-decoration:none}.site-content{display:-ms-flexbox;display:flex}.site-content .widget-area{-ms-flex:1 1 30%;flex:1 1 30%;background-color:#f0a32f;padding-left:1rem;margin-left:2rem;height:700px;border-radius:20px 0 20px 0}.site-content .widget-area ul{list-style:none;margin:0;padding-left:0}.site-content .widget-area a{text-decoration:1pt dotted #ececec}.site-content .widget-area a:link{color:#ececec;text-decoration:none}.site-content .widget-area a:visited{color:#ececec;text-decoration:none}.site-content .widget-area a:hover{color:#ececec;text-decoration:none}.site-content .widget-area a:active{color:#ececec;text-decoration:none}.site-content .widget-area a .cat-posts-widget .category-posts-internal{margin:0;list-style:none}.hero{display:-ms-flexbox;display:flex;margin-top:-20px}.hero .hero-image{-ms-flex:0 1 64%;flex:0 1 64%}.hero .hero-image img{display:block}.hero .hero-text{background-color:#ececec;display:inline-block;-ms-flex:0 1 37%;flex:0 1 37%;padding:35px 35px 35px 35px;position:relative}.hero .hero-text .btn{border-radius:3px;color:#fff;font-size:18px;background:#0065b3;padding:10px 20px 10px 20px;text-decoration:none;text-shadow:none;position:absolute;width:170px;box-shadow:0 2px #999}.hero .hero-text .btn p{padding-left:2rem}.hero .hero-text .btn .fa-heart{color:#fff;margin-left:-4px;margin-right:2px;animation:heart-beats 1s infinite}@keyframes heart-beats{0%{transform:scale(1)}40%{transform:scale(1.4)}100%{transform:scale(1)}}.hero .hero-text .btn:hover{transition:.2s;background:#1a9bff;text-decoration:none}.hero .hero-text h1{color:#f0a32f;line-height:1.3}.hero .hero-text p{margin-top:-10px;color:#3f3f3f;line-height:1.75}.news-ticker{height:40px;background-color:#0082e6;margin-top:17px;margin-bottom:17px;line-height:40px;font-weight:700}.news-ticker .news-title{display:inline-block;background-color:#0065b3;height:100%;width:18%;text-align:center;position:relative;color:#fff;text-transform:uppercase}.news-ticker .news-title:after{content:"";position:absolute;right:0;width:0;height:0;border-top:20px solid transparent;border-bottom:20px solid transparent;border-right:20px solid #0082e6}.news-ticker .latest-news{display:inline-block}.tough-mudder-banner{padding:1em;height:160px;margin-top:22px;position:relative;background-color:#231f1f}.tough-mudder-banner h2{color:#e84f0c;margin:0}.tough-mudder-banner .tm-text{width:75%;color:#fff}.tough-mudder-banner .tm-logo{position:absolute;right:2px;top:-14px;right:-2px}.tough-mudder-banner .tm-logo img{width:270px}.box-container{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row;margin-bottom:17px}.box-container .box{width:32%;height:320px;float:left;padding:2rem;color:#fff;margin-bottom:40px}.box-container .box:not(.charity-shop){margin-right:2%}.box-container .what-we-do{background-color:#e84f0c}.box-container .get-involved{background-color:#f0a32f}.box-container .charity-shop{background-color:#0065b3}.featured-blog{background-color:#f0a32f;padding:15px;margin-bottom:15px;overflow:hidden;position:relative;margin-bottom:17px}.featured-blog .blog-text-white{color:#fff}.featured-blog p{color:#fff}.featured-blog .blog-image{position:absolute;top:0;right:0;width:100px;height:100px}.featured-blog a:link{text-decoration:none;border-bottom:1pt dotted #fff;color:#fff}.featured-blog a:visited{text-decoration:none;border-bottom:1pt dotted #fff;color:#fff}.featured-blog a:hover{text-decoration:none;border-bottom:1pt dotted #fff;color:#fff}.featured-blog a:active{text-decoration:none;border-bottom:1pt dotted #fff;color:#fff}.featured-blog h2{margin:0}.featured-blog p{margin:0}.about-text-l{display:inline-block;width:65%}.about-text-r{display:inline-block;width:30%;vertical-align:top}.about-text-r .cape-town{text-align:right}.mission-statement{border-radius:10px;border:2px solid #f0a32f;padding:1rem;border-left:34px solid #fae2be;margin-bottom:20px}.charity-objectives{border-radius:10px;border:2px solid #0065b3;padding:1rem;border-left:34px solid #4db1ff;margin-bottom:50px}.charity-objectives ol{list-style-position:inside;margin:0}.news-link{border-bottom:1pt dotted #0065b3}.news-link:link{color:#0065b3;text-decoration:none}.news-link:visited{color:#0065b3;text-decoration:none}.news-link:hover{color:#0065b3;text-decoration:underline}.news-link:active{color:#0065b3;text-decoration:none}.site-content{display:-ms-flexbox;display:flex;margin-top:20px}.news-styles{-ms-flex-pack:start;justify-content:flex-start;-ms-flex:0 1 50%;flex:0 1 50%}.news-styles .news-item-excerpt{display:-ms-flexbox;display:flex;border-bottom:1px dotted #d8d8d8;padding-top:1px;padding-bottom:16px;margin-bottom:30px}.news-styles .news-item-excerpt .featured-image{-ms-flex:0 1 20%;flex:0 1 20%;margin-right:2rem}.news-styles .news-item-excerpt .featured-image img{margin-top:5px;box-shadow:6px 7px 18px -1px rgba(0,0,0,.53)}.news-styles .news-item-excerpt .snippet{-ms-flex:0 1 90%;flex:0 1 90%;margin-right:1rem}.news-styles .news-item-excerpt .snippet h2{margin:0}.news-styles .news-item-excerpt .snippet p{margin:0}.news-size{-ms-flex:0 0 70%;flex:0 0 70%}.please-donate{background-color:#f0a32f;color:#fff;margin-bottom:40px;margin-top:40px;padding:15px}.please-donate p{margin:0;color:#3f3f3f!important}.please-donate input[type=submit]{margin:10px 0 0 0;border-radius:3px;color:#fff;font-size:18px;background:#fff;padding:10px 20px 10px 20px;text-decoration:none;box-shadow:none;text-shadow:none;color:#f0a32f}.please-donate input[type=submit]:hover{transition:.4s;background:#499e08;text-decoration:none}.content-container{display:-ms-flexbox;display:flex}.content-container .entry-content{-ms-flex:0 1 85%;flex:0 1 85%;padding-left:3rem;margin-top:0}.content-container .entry-content p{color:#7f7f7f}.news-story-top{-ms-flex:0 1 70%;flex:0 1 70%;border-left:13px solid #fae2be;background-color:#fef7ed}.comment-author{background-color:#fef7ed}.dpsp-share-text{border-top:4px solid #bfbfbf;padding-top:20px}.entry-title{margin-bottom:20px}.entry-meta .byline{display:none}.entry-header{padding:1rem}.entry-footer .cat-links{display:none}.entry-footer .tags-links{display:none}.ngg-galleryoverview{margin-bottom:50px}.archive-content{-ms-flex:0 1 70%;flex:0 1 70%;margin-right:1rem}.blog-top{display:-ms-flexbox;display:flex;background-color:#f2f2f2}.blog-top .contributor{-ms-flex:0 1 50%;flex:0 1 50%;-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.blog-top .contributor .blog-title{position:relative;text-align:center;font-size:1.8em;width:40%;margin-left:auto;margin-right:auto;line-height:3rem;margin-top:-30px;margin-bottom:70px;width:80%}.blog-top .contributor b{display:block;text-align:center}.blog-top .contributor i{display:block;text-align:center;margin-top:-10px}.blog-top .contributor .profile{display:block;width:74px;height:74px;border-radius:50%;margin-right:auto;margin-left:auto}.category-blog{margin-top:50px;width:53%;margin-right:auto;margin-left:auto;text-align:left}.category-blog .fi-container{-ms-flex:0 1 30%;flex:0 1 30%}.contact-area{margin-left:auto;margin-right:auto;margin-bottom:200px}@media only screen and (max-width:1200px){.container,.site-content{max-width:1000px}body,button,input,select,textarea{color:#3f3f3f;font-family:"PT Sans","Helivetica Neue",Helvetica,Arial,sans-serif;font-size:16.2px;font-size:1.0125rem;line-height:1.75em}.tough-mudder-banner{height:150px}.tough-mudder-banner .tm-logo{top:-8px}.tough-mudder-banner .tm-logo img{width:250px}}@media only screen and (max-width:1020px){.tough-mudder-banner .tm-logo{top:-3px}.tough-mudder-banner .tm-logo img{width:230px}.container,.site-content{max-width:900px}.main-navigation{margin-bottom:30px}.site-footer .right-footer .donation-radios{margin-left:20px}.site-footer .left-footer ul li{margin-right:14%}.hero .hero-text p{margin-bottom:14px}.site-header .site-logo img{width:191px}.hero .hero-image .btn{font-size:16.2px}.hero .hero-text h1{margin-top:5px}.menu-bar{width:50px}}@media only screen and (max-width:950px){.tough-mudder-banner{height:140px}.tough-mudder-banner .tm-logo{top:-5px}.tough-mudder-banner .tm-logo img{width:220px}.container,.site-content{max-width:800px}body,button,input,select,textarea{color:#3f3f3f;font-family:"PT Sans","Helivetica Neue",Helvetica,Arial,sans-serif;font-size:14.4px;font-size:.9rem;line-height:1.75em}.hero .hero-text{-ms-flex:0 1 36%;flex:0 1 36%;padding:1.6rem}.hero .hero-text .btn{font-size:14.4px;width:150px}.menu-bar .search-box .icon{margin-left:20px}.site-header .site-logo{margin-right:5px}.site-header .site-logo img{width:175px}.hero .hero-text p{margin-bottom:20px}.hero{height:320px}.site-content .widget-area{margin-left:1rem}.site-footer{padding-top:15px}}@media only screen and (max-width:900px){.container,.site-content{max-width:800px}.hero .hero-text{-ms-flex:0 1 40%;flex:0 1 40%;height:300px}.hero .hero-image{-ms-flex:0 1 60%;flex:0 1 60%}.hero .hero-text h1{margin-top:0}#dpsp-floating-sidebar{display:none}.news-ticker .news-title{width:20%}}@media only screen and (max-width:830px){.tough-mudder-banner{height:150px}.tough-mudder-banner .tm-text{width:70%}.tough-mudder-banner .tm-logo{top:3px}.tough-mudder-banner .tm-logo img{width:200px}.container,.site-content{max-width:730px}.hero{height:300px;background-color:#ececec}.hero .hero-text{-ms-flex:0 1 40%;flex:0 1 40%;height:300px}.hero-image{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center;-ms-flex:0 1 60%;flex:0 1 60%;margin-right:.5rem}.site-footer{height:330px}.site-footer .left-footer ul li{margin-right:10%}.site-footer .left-footer{width:56%}.site-footer .right-footer{margin-left:3%}.box{margin-bottom:20px!important}}@media only screen and (max-width:767px){.container,.site-content{max-width:710px}.hero .hero-text .btn{margin-top:-8px}.site-footer .right-footer .donation-radios{margin-left:1%}.site-footer .right-footer hr.vertical{margin-right:.5rem}}@media only screen and (max-width:710px){.container,.site-content{width:98%}.site-footer .left-footer{display:block;width:100%;text-align:center}.site-footer .right-footer{display:block;width:100%;text-align:center;margin-left:auto;margin-right:auto}.site-footer .right-footer hr.vertical{display:none}.site-footer .right-footer .donation-radios{margin-left:0}.site-footer .right-footer .donation-radios .donate{margin-bottom:10px}.hero .hero-text{height:330px}.hero{height:330px;-ms-flex:0 1 100%;flex:0 1 100%}.news-ticker{height:70px}.news-ticker .news-title{display:block;width:100%;height:30px}.news-ticker .news-title:after{display:none}.news-ticker .latest-news{width:100%;display:block;height:30px;text-align:center}.site-header .site-logo img{margin-left:1rem}}@media only screen and (max-width:730px){.tough-mudder-banner{height:150px}.tough-mudder-banner .tm-text{width:70%}.tough-mudder-banner .tm-logo{top:0}.tough-mudder-banner .tm-logo img{width:200px}.hero{height:350px}.hero .hero-image{background-color:#fff}.featured-blog{padding-right:8rem;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center}.featured-blog .blog-image img{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.blog-top{-ms-flex-direction:column;flex-direction:column;width:80%;margin-left:auto;margin-right:auto}.blog-top .contributor .blog-title{margin-top:50px}.blog-top .fi-container img{width:100%;margin-top:30px}.category-blog{width:60%}}@media only screen and (max-width:620px){.tough-mudder-banner{height:170px}.tough-mudder-banner .tm-text{width:100%}.tough-mudder-banner .tm-logo{top:0}.tough-mudder-banner .tm-logo img{display:none}.hero{height:600px;-ms-flex-direction:column;flex-direction:column}.hero .hero-image{background-color:#fff;-ms-flex:0 1 auto;flex:0 1 auto}.hero .hero-text{margin-bottom:35px;-ms-flex:0 1 auto;flex:0 1 auto}.box-container{-ms-flex-direction:column;flex-direction:column}.box-container .box{-ms-flex:0 1 100%!important;flex:0 1 100%!important;-ms-flex-positive:1;flex-grow:1;width:100%;height:200px;margin-right:0;text-align:center}.site-content .widget-area{margin-left:.2rem}}@media only screen and (max-width:570px){.main-navigation{display:none}.hero{height:580px}.container,.site-content{width:100%}.site-header .site-logo{margin-right:0;-ms-flex:0 1 30%;flex:0 1 30%}.site-header .site-logo img{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center;width:200px;margin-top:13px;margin-left:0}.featured-blog a{margin-right:1rem}.site-header{-ms-flex-pack:center;justify-content:center}.menu-bar .search-box{float:none;padding-right:8rem}.featured-blog h2{margin-right:2%}}@media only screen and (max-width:500px){.content-container .entry-content{padding-left:1rem;width:100%}.container,.site-content{width:100%}.featured-blog a{margin-right:0}.menu-bar .search-box{padding-right:7rem}.hero{height:560px}.site-content{-ms-flex-direction:column;flex-direction:column;-ms-flex-pack:center;justify-content:center;-ms-flex:0 1 auto;flex:0 1 auto}.site-content .widget-area{-ms-flex:0 1 auto;flex:0 1 auto;border-radius:0;height:400px;margin-bottom:50px;margin-left:0}.news-styles{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.news-styles .news-item-excerpt .featured-image{margin-left:1rem}.category-blog{width:80%}.news-size{-ms-flex:0 1 auto;flex:0 1 auto;-ms-flex-wrap:nowrap;flex-wrap:nowrap}.archive-content{-ms-flex:0 1 auto;flex:0 1 auto;margin-right:1rem}}@media only screen and (max-width:450px){.hero{height:540px}.featured-blog h2{margin-right:1rem}.site-footer .left-footer ul li{margin-right:.9rem}.site-footer li{width:100%}.site-footer li h3{margin-bottom:0}.site-header .site-logo img{margin-top:25px}.news-ticker{height:100px}.news-ticker .latest-news{line-height:1.6;margin-top:5px}.featured-blog{display:block;text-align:center;padding:1rem}.featured-blog h2{-ms-flex:0 1 100%;flex:0 1 100%;width:100%;margin-right:0;margin-bottom:10px;margin-top:10px}.featured-blog .blog-image{display:block;position:static;margin-right:auto;margin-left:auto;margin-top:10px}.site-footer .left-footer .sar{margin-top:30px}.site-footer{height:500px;padding:1rem}.site-header .site-logo img{width:400px}.menu-bar .search-box{padding-right:4rem}.box-container .box{height:220px}}@media only screen and (max-width:380px){.tough-mudder-banner{height:200px}.hero .hero-text .btn{margin-top:0}.hero .hero-text{height:280px}.news-ticker .latest-news{padding-left:1rem;padding-right:1rem}.container,.site-content{-ms-flex:0 1 100%;flex:0 1 100%}.menu-bar .search-box{padding-right:2rem}.site-header .site-logo img{width:400px}.hero{height:510px}.site-header .site-logo{margin-right:0;-ms-flex:0 1 40%;flex:0 1 40%}.box-container .box{height:250px}.site-content .widget-area{height:480px}.news-styles{-ms-flex:0 1 100%;flex:0 1 100%;width:100%}.site-content{display:-ms-flexbox;display:flex;-ms-flex:0 1 auto!important;flex:0 1 auto!important}.news-size{-ms-flex:0 1 auto!important;flex:0 1 auto!important}.container,.site-content{-ms-flex:0 1 auto;flex:0 1 auto}}
/*# sourceMappingURL=style.css.map */
