// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

// Set container width
.container {
  max-width: $size__site-main;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";