body,
button,
input,
select,
textarea {
	color: $color-mine-shaft;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

.hero-text {
	color: $color-white;
	line-height: $font__line-height-hero-box;
}

@import "headings";

@import "copy";