/* pt-serif-regular - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('pt-serif/pt-serif-v8-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('PT Serif'), local('PTSerif-Regular'),
    url('pt-serif/pt-serif-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('pt-serif/pt-serif-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('pt-serif/pt-serif-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('pt-serif/pt-serif-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('pt-serif/pt-serif-v8-latin-regular.svg#PTSerif') format('svg'); /* Legacy iOS */
}
/* pt-serif-italic - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: 400;
    src: url('pt-serif/pt-serif-v8-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('PT Serif Italic'), local('PTSerif-Italic'),
    url('pt-serif/pt-serif-v8-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('pt-serif/pt-serif-v8-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('pt-serif/pt-serif-v8-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('pt-serif/pt-serif-v8-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('pt-serif/pt-serif-v8-latin-italic.svg#PTSerif') format('svg'); /* Legacy iOS */
}
/* pt-serif-700 - latin */
@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url('pt-serif/pt-serif-v8-latin-700.eot'); /* IE9 Compat Modes */
    src: local('PT Serif Bold'), local('PTSerif-Bold'),
    url('pt-serif/pt-serif-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('pt-serif/pt-serif-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('pt-serif/pt-serif-v8-latin-700.woff') format('woff'), /* Modern Browsers */
    url('pt-serif/pt-serif-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('pt-serif/pt-serif-v8-latin-700.svg#PTSerif') format('svg'); /* Legacy iOS */
}