.about-text-l {
  display: inline-block;
  width: 65%;
}

.about-text-r {
  .cape-town {
    text-align: right;
  }

  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.mission-statement {
  border-radius: 10px;
  border: 2px solid $color-fuel-yellow;
  padding: 1rem;
  border-left: 34px solid lighten($color-fuel-yellow, 30%);
  margin-bottom: 20px;
}

.charity-objectives {
  ol {
    list-style-position: inside;
    margin: 0;
  }
  border-radius: 10px;
  border: 2px solid $color-endeavour;
  padding: 1rem;
  border-left: 34px solid lighten($color-endeavour, 30%);
  margin-bottom: 50px;
}
