.blog-top {

  display: flex;
  background-color: lighten($color-mine-shaft, 70%);

  .contributor {
    flex: 0 1 50%;
    align-self: center;

    .blog-title {
      position: relative;
      text-align: center;
      font-size: 1.8em;
      width: 40%;
      margin-left: auto;
      margin-right: auto;
      line-height: 3rem;
      margin-top: -30px;
      margin-bottom: 70px;
      width: 80%;

      //
      //&:after {
      //  position: absolute;
      //  content: '';
      //  height: 2px;
      //  width: 30px;
      //  color: $color-mine-shaft;
      //  background-color: lighten($color-mine-shaft, 40%);
      //  position: absolute;
      //  top: 130px;
      //  left: 50%;
      //  margin-left: -15px;
      //}
    }

    b {
      display: block;
      text-align: center;
    }

    i {
      display: block;
      text-align: center;
      margin-top: -10px;
    }

    .profile {
      display: block;
      width: 74px;
      height: 74px;
      border-radius: 50%;
      margin-right: auto;
      margin-left: auto;
    }

  }
}

.category-blog {
  margin-top: 50px;
  width: 53%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;

  .fi-container {
    flex: 0 1 30%;

  }

}
