.hero {
  display: flex;
  margin-top: -20px;
  .hero-image {
    flex: 0 1 64%;

    img {
      display: block;
    }
  }

  .hero-text {
    background-color: $color-gallery;
    display: inline-block;
    flex: 0 1 37%;
    padding: 35px 35px 35px 35px;
    position: relative;

    .btn {
      border-radius: 3px;
      color: white;
      font-size: 18px;
      background: $color-endeavour;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      text-shadow: none;
      position: absolute;
      width: 170px;
      box-shadow: 0 2px #999999;

      p {
        padding-left: 2rem;
      }

      .fa-heart {
        color: white;
        margin-left: -4px;
        margin-right: 2px;

        -webkit-animation: heart-beats 1s infinite;
        animation: heart-beats 1s infinite;

        @keyframes heart-beats {
          0% {
            transform: scale(1);
          }
          40% {
            transform: scale(1.4);
          }
          100% {
            transform: scale(1);
          }
        }
      }

      &:hover {
        transition: 0.2s;
        background: lighten($color-endeavour, 20%);
        text-decoration: none;
      }
    }

    h1 {
      color: $color-fuel-yellow;
      line-height: 1.3;
    }

    p {
      margin-top: -10px;
      color: $color-mine-shaft;
      line-height: 1.75;
    }
  }
}

.news-ticker {
  height: 40px;
  background-color: lighten($color-endeavour, 10%);
  margin-top: 17px;
  margin-bottom: 17px;
  line-height: 40px;
  font-weight: 700;

  .news-title {
    display: inline-block;
    background-color: $color-endeavour;
    height: 100%;
    width: 18%;
    text-align: center;
    position: relative;
    color: $color-white;
    text-transform: uppercase;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid lighten($color-endeavour, 10%);
    }
  }

  .latest-news {
    display: inline-block;
  }
}

.tough-mudder-banner {
  padding: 1em;
  height: 160px;
  margin-top: 22px;
  position: relative;
  background-color: #231f1f;

  h2 {
    color: $color-trinidad;
    margin: 0;
  }

  .tm-text {
    width: 75%;
    color: white;
  }

  .tm-logo {
    position: absolute;
    right: 2px;
    top: -14px;
    right: -2px;
    img {
      width: 270px;

    }
  }
}

.box-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 17px;

  .box {
    @include createTextBox();

    &:not(.charity-shop) {
      margin-right: 2%;
    }
  }

  .what-we-do {
    background-color: $color-trinidad;
  }

  .get-involved {
    background-color: $color-fuel-yellow;
  }

  .charity-shop {
    background-color: $color-endeavour;
  }
}

.featured-blog {
  background-color: $color-fuel-yellow;
  padding: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 17px;

  .blog-text-white {
    color: white;
  }

  p {
    color: white;
  }
  .blog-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
  }
  a:link {
    text-decoration: none;
    border-bottom: 1pt dotted #fff;
    color: white;
  }

  a:visited {
    text-decoration: none;
    border-bottom: 1pt dotted #fff;
    color: white;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 1pt dotted #fff;
    color: white;
  }

  a:active {
    text-decoration: none;
    border-bottom: 1pt dotted #fff;
    color: white;
  }
}

.featured-blog h2 {
  margin: 0;
}

.featured-blog p {
  margin: 0;
}


