.news-link {
  border-bottom: 1pt dotted $color-endeavour;

  /* unvisited link */
  &:link {
    color: $color-endeavour;
    text-decoration: none;
  }

  /* visited link */
  &:visited {
    color: $color-endeavour;
    text-decoration: none;
  }

  /* mouse over link */
  &:hover {
    color: $color-endeavour;
    text-decoration: underline;
  }

  /* selected link */
  &:active {
    color: $color-endeavour;
    text-decoration: none;
  }
}

.site-content {
  display: flex;
  @extend .container;

  margin-top: 20px;
}

.news-styles {
  justify-content: flex-start;
  flex: 0 1 50%;

  .news-item-excerpt {
    display: flex;
    border-bottom: 1px dotted lighten($color-mine-shaft, 60%);
    padding-top: 1px;
    padding-bottom: 16px;
    margin-bottom: 30px;

    .featured-image {
      flex: 0 1 20%;
      margin-right: 2rem;

      img {
        margin-top: 5px;
        -webkit-box-shadow: 6px 7px 18px -1px rgba(0, 0, 0, 0.53);
        -moz-box-shadow: 6px 7px 18px -1px rgba(0, 0, 0, 0.53);
        box-shadow: 6px 7px 18px -1px rgba(0, 0, 0, 0.53);
      }
    }

    .snippet {
      flex: 0 1 90%;
      margin-right: 1rem;

      h2 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }
}

.news-size {
  flex: 0 0 70%;
}

//#recent-posts-2 li {
//  text-decoration: none;
//
//}
//
//#recent-posts-2 ul {
//  list-style: none;
//  margin-left: 0;
//}
//
//#rpwwt-recent-posts-widget-with-thumbnails-2 ul {
//}
//
//#rpwwt-recent-posts-widget-with-thumbnails-2 ul li{
//  padding: 15px;
//  margin-bottom: 0.9em;
//}
//
//#rpwwt-recent-posts-widget-with-thumbnails-2 ul li a{
//  text-decoration: none;
//  border-bottom: 1px black dotted;
//
//}
//
//.rpwwt-post-title {
//  font-size: 1.2em;
//  font-weight: bold;
//  color: #000000;
//}
//
//.rpwwt-post-excerpt {
//  font-style: italic;
//}
//#rpwwt-recent-posts-widget-with-thumbnails-2 ul li:nth-child(2n) {
//  background-color: lighten($color-fuel-yellow,35%);
//}
//
//.hentry {
//  border-bottom: 1px solid #ccc;
//  padding-bottom: 3em;
//}
