.please-donate {
  background-color: $color-fuel-yellow;
  color: white;
  margin-bottom: 40px;
  margin-top: 40px;

  p {
    margin: 0;
    color: $color-mine-shaft !important;
  }
  padding: 15px;

  input[type="submit"] {
    margin: 10px 0 0 0px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    background: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    box-shadow: none;
    text-shadow: none;
    color: $color-fuel-yellow;

    &:hover {
      transition: 0.4s;
      background: darken($color-sar-green, 10%);
      text-decoration: none;
    }
  }
}

.content-container {
  display: flex;

  .entry-content {
    flex: 0 1 85%;
    padding-left: 3rem;
    margin-top: 0;

    p {
      color: lighten($color-mine-shaft, 25%);
    }
  }
}

.news-story-top {
  flex: 0 1 70%;
  border-left: 13px solid lighten($color-fuel-yellow, 30%);
  background-color: lighten($color-fuel-yellow, 40%);
}

.comment-author {
  background-color: lighten($color-fuel-yellow, 40%);
}

.dpsp-share-text {
  border-top: 4px solid lighten($color-mine-shaft, 50%);
  padding-top: 20px;
}

.entry-title {
  margin-bottom: 20px;
}
.entry-meta {

  .byline {
    display: none;
  }

}

.entry-header {
  padding: 1rem;
  //border-bottom: 7px solid lighten($color-fuel-yellow, 30%);
}

.entry-footer {
  .cat-links {
    display: none;
  }

  .tags-links {
    display: none;
  }


}

.ngg-galleryoverview {
  margin-bottom: 50px;
}

// archive
.archive-content {
  flex: 0 1 70%;
  margin-right: 1rem;
}

//.content-area {}
