@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }

  body,
  button,
  input,
  select,
  textarea {
    color: $color-mine-shaft;
    font-family: $font__main;
    @include font-size(0.9);
    line-height: $font__line-height-body;
  }

  .tough-mudder-banner {
    height: 150px;

    .tm-logo {
      top: -8px;

      img {
        width: 250px;

      }
    }
  }
}

@media only screen and (max-width: 1020px) {

  .tough-mudder-banner {

    .tm-logo {
      top: -3px;

      img {
        width: 230px;

      }
    }
  }

  .container {
    max-width: 900px;
  }

  .main-navigation {
    margin-bottom: 30px;
  }

  .site-footer .right-footer .donation-radios {
    margin-left: 20px;
  }

  .site-footer .left-footer ul li {
    margin-right: 14%;
  }

  .hero .hero-text p {
    margin-bottom: 14px;
  }

  .site-header .site-logo img {
    width: 191px;
  }

  .hero .hero-image {
    .btn {
      font-size: 16.2px;
    }
  }

  .hero .hero-text h1 {
    margin-top: 5px;
  }

  .menu-bar {
    width: 50px;
  }
}

@media only screen and (max-width: 950px) {
  .tough-mudder-banner {
    height: 140px;

    .tm-logo {
      top: -5px;

      img {
        width: 220px;

      }
    }
  }
  .container {
    max-width: 800px;
  }

  body,
  button,
  input,
  select,
  textarea {
    color: $color-mine-shaft;
    font-family: $font__main;
    @include font-size(0.8);
    line-height: $font__line-height-body;
  }

  .hero .hero-image {
    //height:  900px;
  }

  .hero .hero-text {
    flex: 0 1 36%;
    padding: 1.6rem;

    .btn {
      font-size: 14.4px;
      width: 150px;
    }
  }

  .menu-bar {
    // height:40px;
    .search-box {
      .icon {
        margin-left: 20px;
      }
    }
  }

  .site-header .site-logo {
    margin-right: 5px;
  }

  .site-header .site-logo img {
    width: 175px;
  }

  .hero .hero-text p {
    margin-bottom: 20px;
  }

  .hero {
    height: 320px;
  }

  .site-content .widget-area {
    margin-left: 1.0rem;
  }

  .site-footer {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    max-width: 800px;
  }

  .hero .hero-text {
    flex: 0 1 40%;
    height: 300px;
  }

  .hero .hero-image {
    flex: 0 1 60%;
  }

  .hero .hero-text h1 {
    margin-top: 0;
  }

  #dpsp-floating-sidebar {
    display: none;
  }

  .news-ticker .news-title {
    width: 20%;
  }
}

@media only screen and (max-width: 830px) {

  .tough-mudder-banner {
    height: 150px;

    .tm-text {
      width: 70%;
    }
    .tm-logo {
      top: 3px;

      img {
        width: 200px;

      }
    }
  }

  .container {
    max-width: 730px;
  }

  .hero {
    height: 300px;
    background-color: $color-gallery;
  }

  .hero .hero-text {
    flex: 0 1 40%;
    height: 300px;
  }

  .hero-image {
    align-self: center;
    flex: 0 1 60%;
    margin-right: 0.5rem;
  }

  .site-footer {
    height: 330px;
  }

  .site-footer .left-footer ul li {
    margin-right: 10%;

  }

  .site-footer .left-footer {
    width: 56%;
  }

  .site-footer .right-footer {
    margin-left: 3%;
  }

  .box {
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 710px;
  }

  .hero .hero-text .btn {
    margin-top: -8px;
  }
  .site-footer .right-footer .donation-radios {
    margin-left: 1%;
  }

  .site-footer .right-footer hr.vertical {
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 710px) {
  .container {
    width: 98%;
  }

  .site-footer .left-footer {
    display: block;
    width: 100%;
    text-align: center;
  }

  .site-footer .right-footer {
    display: block;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .site-footer .right-footer hr.vertical {
    display: none;
  }

  .site-footer .right-footer .donation-radios {
    margin-left: 0;

    .donate {
      margin-bottom: 10px;
    }

  }

  .hero .hero-text {
    height: 330px;
  }

  .hero {
    height: 330px;
    flex: 0 1 100%;

  }
  .news-ticker {
    height: 70px;
    //padding-bottom: 20px;
  }

  .news-ticker .news-title {
    display: block;
    width: 100%;
    height: 30px;

    &:after {
      display: none;
    }

  }

  .news-ticker .latest-news {
    width: 100%;
    display: block;
    height: 30px;
    text-align: center;

  }

  .site-header .site-logo img {
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 730px) {
  .tough-mudder-banner {
    height: 150px;
    .tm-text {
      width: 70%;
    }

    .tm-logo {
      top: 0px;

      img {
        width: 200px;

      }
    }
  }
  .hero {
    height: 350px;
  }

  .hero .hero-image {
    background-color: white;
  }

  .featured-blog {
    padding-right: 8rem;
    display: flex;
    align-items: center;

    .blog-image img {
      align-self: center;
    }

  }

  .blog-top {
    flex-direction: column;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    .contributor .blog-title {
      margin-top: 50px;
    }

    .fi-container img {
      width: 100%;
      margin-top: 30px;
    }
  }
  .category-blog {
    width: 60%;
  }
}

@media only screen and (max-width: 620px) {
  .tough-mudder-banner {
    height: 170px;
    .tm-text {
      width: 100%;
    }

    .tm-logo {
      top: 0px;

      img {
        display: none;

      }
    }
  }

  .hero {
    height: 600px;
    flex-direction: column;
  }

  .hero .hero-image {
    background-color: white;
    flex: 0 1 auto;
  }

  .hero .hero-text {
    margin-bottom: 35px;
    flex: 0 1 auto;
  }

  .box-container {
    flex-direction: column;

    .box {
      flex: 0 1 100% !important;
      flex-grow: 1;
      width: 100%;
      height: 200px;
      margin-right: 0;
      text-align: center;
    }
  }

  .site-content .widget-area {
    margin-left: 0.2rem;
  }

}

@media only screen and (max-width: 570px) {

  .main-navigation {
    display: none;
  }

  .hero {
    height: 580px;
  }
  .container {
    width: 100%;
  }

  .site-header .site-logo {
    margin-right: 0;
    flex: 0 1 30%;

    img {
      align-self: center;
      width: 200px;
      margin-top: 13px;
      margin-left: 0;

    }
  }

  .featured-blog a {
    margin-right: 1rem;
  }

  .site-header {
    justify-content: center;

  }

  .menu-bar {

    .search-box {
      float: none;
      padding-right: 8rem;

    }
  }

  .featured-blog {
    h2 {
      margin-right: 2%;
    }
  }
}

@media only screen and (max-width: 500px) {

  .content-container .entry-content {
    padding-left: 1rem;
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .featured-blog a {
    margin-right: 0;
  }
  .menu-bar .search-box {
    padding-right: 7rem;
  }

  .hero {
    height: 560px;
  }

  .site-content {
    flex-direction: column;
    justify-content: center;
    flex: 0 1 auto;
  }

  .site-content .widget-area {
    flex: 0 1 auto;
    border-radius: 0;
    height: 400px;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .news-styles {
    align-self: center;

    .news-item-excerpt .featured-image {
      margin-left: 1rem;
    }
  }

  .category-blog {
    width: 80%;
  }

  .news-size {
    flex: 0 1 auto;
    flex-wrap: nowrap;
  }

  .archive-content {
    flex: 0 1 auto;
    margin-right: 1rem;
  }

}

@media only screen and (max-width: 450px) {

  .hero {
    height: 540px;
  }
  .featured-blog h2 {
    margin-right: 1rem;
  }

  .site-footer .left-footer ul li {
    margin-right: 0.9rem;
  }

  .site-footer li {
    width: 100%;
    h3 {
      margin-bottom: 0;
    }
  }

  .site-header .site-logo img {
    margin-top: 25px;

  }

  .news-ticker {
    height: 100px;

    .latest-news {
      line-height: 1.6;
      margin-top: 5px;
    }
  }

  .featured-blog {
    //flex-direction: row;
    display: block;
    text-align: center;
    padding: 1rem;
    h2 {
      flex: 0 1 100%;
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      margin-top: 10px;

    }

    .blog-image {
      display: block;
      position: static;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
    }
  }

  .site-footer .left-footer .sar {
    margin-top: 30px;
  }

  .site-footer {
    height: 500px;
    padding: 1rem;
  }

  .site-header .site-logo img {
    width: 400px;
  }

  .menu-bar .search-box {
    padding-right: 4rem;
  }

  .box-container .box {
    height: 220px;
  }
}

@media only screen and (max-width: 380px) {

  .tough-mudder-banner {
    height: 200px;

  }

  .hero .hero-text .btn {
    margin-top: 0;
  }

  .hero .hero-text {
    height: 280px;
  }

  .news-ticker .latest-news {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container {
    flex: 0 1 100%;
  }
  .menu-bar .search-box {
    padding-right: 2rem;
  }

  .site-header .site-logo img {
    width: 400px;
  }

  .hero {
    height: 510px;
  }

  .site-header .site-logo {
    margin-right: 0;
    flex: 0 1 40%;
  }

  .box-container .box {
    height: 250px;
  }

  .site-content .widget-area {
    height: 480px;
  }

  .news-styles {
    flex: 0 1 100%;
    width: 100%;
  }

  .site-content {
    display: flex;
    flex: 0 1 auto !important;
  }

  .news-size {
    flex: 0 1 auto !important;
  }

  .container, .site-content {
    flex: 0 1 auto;
  }

}


