$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #525e61;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Sunrise Africa Relief Colours
$color-fuel-yellow: #f0a32f;
$color-trinidad: #e84f0c;
$color-endeavour: #0065b3;
$color-mine-shaft: #3f3f3f;
$color-sar-green: #60CE0B;
$color-white: #fff;
$color-gallery: #ececec;
