// Uses Golden Ratio with default width 1000px
// https://pearsonified.com/typography/

// Based on 1000px width
$font__main: 'PT Sans', 'Helivetica Neue', 'Helvetica', 'Arial', sans-serif;
$font__line-height-body: 1.75em;

// Hero-Box on front-page.php
$font__line-height-hero-box: 1.43em;

//// Pre & Code tag attributes
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; //not needed
$font__line-height-pre: 1.6; // Not needed
$font__pre: "Courier 10 Pitch", Courier, monospace;
