
.white-link {

  border-bottom: 1pt dotted white;

  /* unvisited link */
  &:link {
    color: $color-white;
    text-decoration: none;
  }

  /* visited link */
  &:visited {
    color: $color-white;
    text-decoration: none;

  }

  /* mouse over link */
  &:hover {
    color: $color-white;
    text-decoration: none;
  }

  /* selected link */
  &:active {
    color: $color-white;
    text-decoration: none;
  }
}


.orange-link {

  border-bottom: 1pt dotted $color-trinidad;

  /* unvisited link */
  &:link {
    color: $color-trinidad;
    text-decoration: none;
  }

  /* visited link */
  &:visited {
    color: $color-trinidad;
    text-decoration: none;

  }

  /* mouse over link */
  &:hover {
    color: $color-trinidad;
    text-decoration: none;
  }

  /* selected link */
  &:active {
    color: $color-trinidad;
    text-decoration: none;
  }
}

//a {
//  color: $color__link;
//
//  &:visited {
//    color: $color__link-visited;
//  }
//  &:hover,
//  &:focus,
//  &:active {
//    color: $color__link-hover;
//  }
//  &:focus {
//    outline: thin dotted;
//  }
//  &:hover,
//  &:active {
//    outline: 0;
//  }
//}
