
.main-navigation {

  flex: 0 1 73%;
  align-self: flex-end;
  margin-bottom: 36px;

  .menu-main_menu-container {
    width: 100%;
    height: 100%;

    ul {

      list-style: none;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        justify-content: space-between;

        a {
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          color: $color-mine-shaft;
          //letter-spacing: 0.05rem;

          &:hover,
          &.focus {
            padding-bottom: 5px;
            border-bottom: 3pt solid $color-fuel-yellow;
            transition: 0.2s;
          }

        }

      }

    }
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}
